body {
    font-weight: 400;
    line-height: 1.5em;
    background-color: #eeeeee;
 }


 .center
 {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
 }
 .btn-dark-blue
 {
    background-color: #29199B;
    color:white;
 }
 button:hover{
    background-color: white;
    border-color:#29199B;
    color:#29199B;
 }

 .logotip{
    width: 250px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.baton{
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    width: 390px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    bottom: 13px;
    cursor: pointer;
    transition: opacity .3s linear;
    
  }
  
  .baton:hover{
    text-decoration: none;
    opacity: .7;
    color: #f1f1f1;
    background: #fc5c65;
  }

 
.content3
{
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
}

