<!DOCTYPE html>
<html>
<meta charset="UTF-8">  
{% load static %}
<head>
  <title>Product page</title>
  <link rel="stylesheet" type="text/css" href="{% static 'productpage/css/product.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      
    <a href="{% url 'product' %} ">
        <object type="image/svg+xml" data=" {% static 'auction-svgrepo-com.svg' %}" width="45" height="45" >
            Your browser does not support SVG
        </object>
    </a> 
    
    <a class="navbar-brand text-center mb-0 h1 " href="{% url 'product' %} ">&nbsp; Онлайн система аукціон </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product_bought' %}" >Куплено</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products_sold' %}" >Продано</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_product' %}" >Мої товари</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload_product' %}" >Додати товар</a>
            </li>    
        </ul>
    </div>   
    <div> Ласкаво просимо, {{ user.username }}   <a class="btn btn-outline-danger" href="{% url 'logout' %}">Вийти</a></div> 
  </nav>

  <div class="container">
    
    <div class="container-fluid" style="padding:30px">
        
      <div class="row row-offcanvas row-offcanvas-right">
        <div >
          <div style="margin: 0;">
            <h1>Auction Products</h1>
          </div>
          <div class="row" id="products-list"></div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
      </div><!--/row-->
      <hr>
      {% else %} 
    </div>
      <div ></div>
        <a class ="success" href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}" class="primary "> Sign up </a>
      </div>
    </nav>
        <div class="alert alert-primary" role="alert" align="center">
            Авторизуйтесь, будь ласка!
        </div>
      {% endif %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script>
        $(document).ready(function(){
        var data,ownerName;
        var users,currentUser;
        //get all user information 
        function getusers()
        {
        $.ajax({url: "rest/users/?format=json", success: function(result){
            users= result;
            console.log(result);
            
            

        },complete:function()
        {
            //do nothing 
        },
        
        });
        } 
            
        
        //get products  
        function getproductinfo()
        {
            $.ajax({url: "/product/rest/products/?id=&itemname=&owner=&status=0&buyer=", success: function(result){
                data= result;
                console.log(result);
                $('#users').html('');
                

            },complete:function()
            {
                refresh();
                printResult();
                if(data.length==0)
                {
                    $("#products-list").html("")
                    $("#products-list").append('<h1>There are currently no products</h1>');
                }
            },
            
            });

        }

        //function to change owner from url to name
        function refresh()
        {
        for(var key in data)
        {
                for(var x in users)
                {
                    if(data[key].owner == users[x].url)
                    {
                        data[key].owner = users[x].username
                    }
                } 
        }
            
        }
        // Append products to html
        function printResult()
        {

            $('#product').html('');
            for(var key in data)
            {
                

                $("#products-list").append('<div style="padding: 20px"><div class="card" style=" box-shadow: 6px 8px 6px -6px black; height: 400px; width: 18rem; padding: -50px"><img class="card-img-top " style="width: 100%; height: 60%; object-fit:cover" src="'+data[key].image+'" alt="Card image"><div class="card-body"><h5 class="card-title">'+data[key].itemname +'</h5><p class="card-text" style="width: 250px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">'+data[key].description +'</p><a style="width:240px;" href ="'+data[key].id+'/'+'" class="btn btn-primary">Відкрити</a></div></div></div>');

                

            }
        }
            getusers();
            getproductinfo();
            // setInterval(getproductinfo, 5000);
            // setInterval(getusers,15000);
        });
     </script>
    </div>
  </div>

</body>        
</html>
