<!DOCTYPE html>
<html>
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Register product </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_add.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scroll.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- nav -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- nav -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <!-- МЕНЮ -->

        <header>
            <nav class="cd-main-nav-wrapper">
                <ul class="mainnav">
                    <li class="mainnav2" style="display: inline-block; ">
                        <a href="{% url 'product' %}"> <img src=" {% static 'img/logo.png' %}" height="65"></a>
                    </li>
                    <li class="mainnav1" style="display: inline-block; ">
                        <form action="{% url 'product' %}" class="search">
                            <input type="search" name="search" placeholder="Пошук" class="input" />
                            <input type="submit" name="" class="submit" />
                        </form>
                    </li>
                </ul>

                <ul class="cd-main-nav">

                    <li><a href="{% url 'product' %}">Головна</a></li>
                    <li><a href="{% url 'about' %}">Про аукціон</a></li>


                    <li>
                        <a href="#0" class="cd-subnav-trigger"><span>Профіль</span></a>
                        <ul>
                            <li class="go-back"><a href="#0">Меню</a></li>
                            <li><a href="{% url 'product_bought' %}"> Куплено</a></li>
                            <li><a href="{% url 'products_sold' %}"> Продано</a></li>
                            <li><a href="{% url 'my_product' %}"> Мої товари</a></li>
                            <li><a href="{% url 'upload_product' %}"> Додати товар</a></li>
                            <li><a href="{% url 'logout' %}"> Вийти</a></li>
                            <li><a href="#0" class="placeholder">Placeholder</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="#0" class="cd-nav-trigger"><span></span></a>
        </header>
        <!-- //МЕНЮ -->
        <main class="cd-main-content">
            <div class="caption">Додавання товару</div>
            <div class="container-fluid">
                <div class="center">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <button class="baton" type="submit">Підтвердити</button>

                    </form>
                </div>
            </div>

            <div class="push"></div>
    </div>

    </main>
    <div class="push"></div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="left-col">
                <img src="logo.png" alt="" class="logo">
                <div class="social-media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <p class="rights-text">© 2020
                    Online System Auction</p>
            </div>

            <div class="right-col">
                <a href="#"> <img src=" {% static 'img/OnlineAuction.svg' %}" alt="logo" width="320" height="200"></a>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>